
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
body{
  font-family: "Roboto Slab", serif;
  color: black;
  margin: 0;
  background-color: ghostwhite;
}
main{
  max-width: 1000px;
  margin: 20px auto;
}
main .fa{
  font-size: 3em;
  text-align: center;
  margin: 0 auto;
  display: block;
  padding-top: 40px;
  padding-bottom: 40px;
}
main a{
  text-decoration: none;
}
#game{
  margin-right: 20px;
}
.logo{
  flex-grow: 1;
  text-align: center;
  display: block;
  margin: 0 auto;
  max-width: 266px;
}
.moon{
  display: block;
  margin: 0 auto;
  max-width: 300px;
}
header {
  background: rgb(9,151,49);
  background: white;
}
header img{
  float: center;
  margin-left: 20px;
}
header h1{
  color: white;
}
#home-hero{
  background-image: url(images/northern-lights.jpg);
  height: 160px;
  background-size: cover;
  background-repeat: no-repeat;
}
#home-hero h1{
  font-family: 'Times New Roman',cursive;
  text-align: center;
  color: whitesmoke;
  text-shadow: 2px 2px 2px seagreen;
  margin: 0;
  padding: 40px 0;
  font-size: 60px;
}
.float-right{
  float: right;
  max-width: 40%;
  height: auto;
  margin-left: 30px;
}
h1{
  font-family: "Roboto Slab", serif;
  font-size: 4em;
  color: black;
  text-align: center;
  margin: 0;
}
h2{ 
  font-family: "Roboto Slab", serif;
  color: #008744;
  border-bottom: 2px darkgreen solid;
  text-align: center;
}
h3{
  text-align: center;
}
p,li{ 
  font-family: Arial, Verdana, sans-serif; 
}
a:link{
  color: purple;
}
a:visited{
  color: purple;
}
a:hover{
  color: blue;
}
a:active{
  color: balck;
}
nav{
  align-items: center;
  background: white;
  border-top: 2px white solid;
  border-bottom: 2px darkgreen solid;
  padding: 5px;
}
nav ul{
  list-style-type: none;
  text-align: center;
  padding-top: 20px;
  padding-right: 20px;
}
nav li{
  display: inline;
}
nav a{
  text-decoration: none;
  padding: 10px;
}
nav a:link{
  color: white;
}
nav a:visited{
  color: seagreen;
}
nav a:hover{
  color: gold;
}
nav a:active{
  color: skyblue;
}
footer{
  background-image: url(images/northern-lights.jpg);
  text-align: center;
  border-top: 1px solid gray;
  padding: 10px;
  color: white;
  padding-bottom: 20px;
}
footer .fa{
  color: white;
  font-size: 2em;
}
.footer1000{
  max-width: 1000px;
  margin: 0 auto;
}
.gallery{
  margin: 0 auto;
}
.gallery .preview{
    width: 100%;
    height: auto;
}

.gallery .gallery-thumbnails img {
    width: 100px;
    height: 75px;
    margin: 3px 10px 10px 0;
}

.gallery .gallery-thumbnails img:hover {
    opacity: 0.8;
    cursor: pointer;
}

.gallery .preview img#preview {
    padding: 1px;
    max-width: 100%;
    height: auto;
    margin: 0 auto !important;
    display: block !important;
}
/* JavaScript Game changes for mobile */
.mobile{
  display:none;
}
@media only screen and (max-width: 768px){
  .desktop{
    display:none;
  }
  .mobile{
    display: block;
    touch-action: manipulation;
  }
}

/*CSS without a media query--applies to all sizes unless overridden*/
/* CSS Adjustments for Tablets */
@media only screen and (max-width: 1024px) {
  h1{
    font-size: 1.8em;
  }
}
/* CSS Adjustments for Smartphones */
@media only screen and (max-width: 768px) {
  h1{
    font-size: 1.5em;
  }
}
